<!DOCTYPE html>
<html>
<head>
	<title>API</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/list.css')}}">
</head>
<body>
<section>
  <div>
    <h2>Bejjo API List</h2>
    <ul class="check-list">
      <li><a href="/api/google/facebook" style="text-decoration:none;">Google Result</a></li>
      <li><a href="/api/boruto/185" style="text-decoration:none;">Boruto</a></li>
      <li><a href="" style="text-decoration:none;">YT Downloader(soon)</a></li>
      <li><a href="" style="text-decoration:none;">Covid-19(soon)</a></li>
    </ul>
  </div>
</section>
</body>
</html>